*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color:var(--Dark-Slate-Grey) ;
}
:root{
  /* ### Primary */

--Tomato: hsl(4, 100%, 67%);

/* ### Neutral */

--Dark-Slate-Grey: hsl(234, 29%, 20%);
--Charcoal-Grey: hsl(235, 18%, 26%);
--Grey: hsl(231, 7%, 60%);
--White: hsl(0, 0%, 100%);
}
body{
  background: var(--Dark-Slate-Grey);
  height: 110vh;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  position: relative;
  padding: 0 1em;
}
.main{
  width: 100%;
}
.container{
  max-width: 900px;
  background: var(--White);
  display: flex;
  height: 600px;
  padding: 2em;
  border-radius: 1em;
  flex-flow: row-reverse;
}


.mainleft{
  display: flex;
  justify-content: center;
  flex-direction: column;


}
.left h1{
font-weight:700 ;
font-size: 50px;
margin-bottom: 0.4em;
}
.left .paratopleft{
  color: var(--Charcoal-Grey);
  font-weight: 400;
  margin-bottom: 0.6em;
  width: 89%;
}

.left ul{
 
  list-style:url(image/icon-list.svg) inside;
  margin-bottom: 1.4em;
}
.left ul li{
  color: var(--Charcoal-Grey);
  line-height: 2.2em;
  font-family: 'Roboto', sans-serif;
}
label{
  display: block;
  font-size: 12px;
  margin-bottom: 1em;
}
input{
  display: block;
  width: 85%;
  height: 3.4em;
  border-radius: 8px;
  border: 1px solid  var(--Charcoal-Grey);
  outline: none;
  padding-left: 2em;
  font-size: 16px;
}
input::placeholder{
  font-size: 16px;
  padding-left: 2em;
}


.btn{
  margin-top: 1em;
  height: 3.4em;
  width: 84%;
  border-radius: 8px;
  background-color: black;

  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.btn:hover{
  background: linear-gradient(to right,rgba(255, 98, 87,1),rgba(255, 98, 87, 0.7) );
}


/* right side */
.right img{
  height: 100%;
  width: 100%;
}

/* ********************************** */

/* Thank you for subscribing! */
.valid{
background-color: white;
max-width: 400px;
padding: 2em;
border-radius: 1em;
position: absolute;
visibility: hidden;

}
.valid img{
  height: 2em;
  margin-bottom: 1em;
}
.parasubscribed{
  font-size: 12px;
  margin: 1em 0;
  color: var(--Charcoal-Grey);
}
.insertionpara{
  margin: 1em 0;
}
.btn2{
  display: block;
  width: 100%;
  height: 3em;
  border-radius: 7px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}

.btn2:hover{
  background: linear-gradient(to right,rgba(255, 98, 87,1),rgba(255, 98, 87, 0.7) );
}


/* responsive */
@media (max-width:600px){
  .container{
    display: flex;
    flex-direction: column ;
    height: fit-content;
padding: 0.3em;
  }
body{
  max-height: 100vh;
  padding: 0;
}
#inp, .btn{
  width: 100%;
}
#validmsg{
  height: 100%;
  border-radius: none;

  
}
.right img{
  width: 100%;
}
  
}